global
	log /dev/log	local0
	log /dev/log	local1 notice
	chroot /var/lib/haproxy
	stats socket /run/haproxy/admin.sock mode 660 level admin expose-fd listeners
	stats timeout 30s
	user haproxy
	group haproxy
	daemon

defaults
	log	global
	mode	http
	option	httplog
	option	dontlognull
        timeout connect 5000
        timeout client  50000
        timeout server  50000

frontend http_front
        # Слушаем стандартный HTTP-порт 8022
        bind *:8022
        mode http

        # ACL: Проверяем, что заголовок Host равен 'user-pc1'
        acl is_example_local hdr(host) -i user-pc1

        # Если условие ACL выполняется, отправляем трафик на бэкенд
        use_backend python_weighted_back if is_example_local

        # Если запрос пришел БЕЗ домена - HAProxy вернет 403 Forbidden
        http-request deny if !is_example_local

backend python_weighted_back
        mode http
        # Используем алгоритм roundrobin
        balance roundrobin
        
        # Настройка серверов с указанием их весов (weight)
        server srv1 127.0.0.1:8001 weight 2 check
        server srv2 127.0.0.1:8002 weight 3 check
        server srv3 127.0.0.1:8003 weight 4 check
